.card-body{
    padding: 0.5rem !important;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

.list-header-icon {
	font-size: 2.5rem !important;
}

#clip_target {
	color: #343a40 !important;
}
